body {
    height: 100vh;
    color: white;
    font-family: Arial;
}

a, img, button {
    text-decoration: none;
    cursor: pointer;
}

#container {
    height: 100vh;
    overflow-x: hidden;
}

#back-wrapper img {
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}


#navbar {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    color: rgba(255, 255, 255, 0.9);
    background: rgb(0, 0, 0);
    z-index: 100;
}

#nav-left {
    display: flex;
    align-items: center;
    margin-right: 21rem;
    margin-left: 2.5rem;
    font-size: 1.1rem;
    font-weight: 400;
}

#nav-left .nav-text{
    margin-left:1rem;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    color: white;
}

#nav-left .nav-text:hover{
    color: rgb(224, 224, 224);
}

#nav-left img {
    margin-top: 0.3rem;
    margin-right: 2rem;
    width: 6rem;
}

#nav-left img:hover {
    margin-top: 0.4rem;
    margin-right: 1.8rem;
    width: 6.2rem;
}

#nav-right {
    display: flex;
    align-items: center;
    margin-left: 23rem;
}

.icon {
    width: 1.5rem;
    margin: 0 0.8rem 0 0.8rem;
}

#avatar {
    width: 2.5rem;
    margin: 0 0.5rem 0 0.8rem;
}

#btn-sair {
    font-weight: 600;
    margin: .5em;
    margin-left: 0.5rem;
    background-color: #850000;
    color: white;
    border-radius: 4px;
    text-shadow: none;
    font-size: 13px;
    padding: 14px 20px;
    text-transform: uppercase;
    text-align: center;
}

#btn-sair:hover {
    background-color: #c00000;
}

#user-card {
    background: rgba(0, 0, 0, 0.185);
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    padding-top: 7rem;
    padding-left: 2.5rem;
    margin-bottom: 2rem;

    #frase {
    font-size: 1.3rem;
    }

    #show-name {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgb(224, 0, 0);
    }
}

#shows-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#show {
    width: 25rem;
}

#show:hover {
    width: 26rem;
    margin-bottom: -0.6rem;
}